In [2]:
import pandas as pd

In [4]:
automobile_df = pd.DataFrame({'car_name':["Audi 100 LS","Mercedez Benz","BWM X5","Toyota Corolla Mark ii ",
                                          "Mahindra XUV500","Lamborghini Veneno"],
                             'mpg' : [24,20,20,21,12,13],
                             'horsepower' : [113,240,300,211,99,544],
                             'origincountry' : ["Germany","Germany","Germany","Japan","India","Italy"]
                             })

In [5]:
automobile_df

                  car_name  mpg  horsepower origincountry
0              Audi 100 LS   24         113       Germany
1            Mercedez Benz   20         240       Germany
2                   BWM X5   20         300       Germany
3  Toyota Corolla Mark ii    21         211         Japan
4          Mahindra XUV500   12          99         India
5       Lamborghini Veneno   13         544         Italy

In [6]:
automobile_df.to_csv('new_automobile.csv')
print("EXPORT to csv successful")

EXPORT to csv successful

In [7]:
automobile_df.to_csv('new_automobile_wi.csv',index=False)
print("EXport to CSV succesful")

EXport to CSV succesful

In [8]:
automobile_df.columns

Index(['car_name', 'mpg', 'horsepower', 'origincountry'], dtype='object')

In [9]:
conda install openpyxlautomobile_df.to_csv('new_automobile_wi.csv',columns=["car_name","mpg","horsepower","origincountry"])
print("EXPORT TO CSV SUCCESSFUL")

EXPORT TO CSV SUCCESSFUL

In [11]:
automobile_df.to_excel('new_automobile.xlsx',
                       sheet_name="automobile",
                       index=False)
print("EXPORT TO CSV SUCCESSFUL")

EXPORT TO CSV SUCCESSFUL

In [12]:
camera_df = pd.DataFrame({'model' : ["Canon EOS 3000D Kit (EF S18-55 II)",
                                     "Fujifilm X-E3",
                                     "Panasonic Lumix DC-GH5S",
                                     "Canon EOS 6D Mark II",
                                     "Nikon D5",
                                     "Nikon D500"],
                         'max_resolution' : [2592,3072,3648,3264,3228,3668],
                         'low_resolution' : [2048,2592,2560,2558,2624,2570],
                         'zoom_width' : [38,35,36,39,31,40],
                         'storage': [16,16,32,32,32,64]})

In [13]:
camera_df

,model,max_resolution,low_resolution,zoom_width,storage
0,Canon EOS 3000D Kit (EF S18-55 II),2592,2048,38,16
1,Fujifilm X-E3,3072,2592,35,16
2,Panasonic Lumix DC-GH5S,3648,2560,36,32
3,Canon EOS 6D Mark II,3264,2558,39,32
4,Nikon D5,3228,2624,31,32
5,Nikon D500,3668,2570,40,64

In [14]:
with pd.ExcelWriter('automobile_camera.xlsx') as writer:
    automobile_df.to_excel(writer,sheet_name="Automobile")
    camera_df.to_excel(writer,sheet_name="Camera")
print("Export to Excel Succesful")

Export to Excel Succesful