In [2]:
import numpy as np

In [2]:
np.add(6,7)

13

In [3]:
x = np.arange(4).reshape(2,2)
x

array([[0, 1],
       [2, 3]])

In [4]:
y = np.arange(4)
y

array([0, 1, 2, 3])

In [5]:
y = np.arange(2)
y

array([0, 1])

In [6]:
np.add(x,y)

array([[0, 2],
       [2, 4]])

In [7]:
np.multiply(2.0,4.0)

8.0

In [10]:
x = np.arange(9.0).reshape((3,3))
x

array([[0., 1., 2.],
       [3., 4., 5.],
       [6., 7., 8.]])

In [11]:
y = np.arange(3.0)
y

array([0., 1., 2.])

In [12]:
np.multiply(x,y)

array([[ 0.,  1.,  4.],
       [ 0.,  4., 10.],
       [ 0.,  7., 16.]])

In [13]:
np.log([1,np.e,np.e**2,5])

array([0.        , 1.        , 2.        , 1.60943791])

In [14]:
np.sqrt([25,36,49])

array([5., 6., 7.])

In [15]:
np.square([5,6,7])

array([25, 36, 49])

In [16]:
np.sin(np.pi/2.)

1.0

In [17]:
np.bitwise_and([0,1],[1,1])

array([0, 1])

In [18]:
np.bitwise_not([0,1])

array([-1, -2])

In [19]:
np.bitwise_or([0,1,1],[1,0,0])

array([1, 1, 1])

In [20]:
np.bitwise_xor([0,1],[1,0])

array([1, 1])

In [21]:
np.bitwise_and([20,10],[10,20])

array([0, 0])

In [22]:
np.bitwise_xor([31,5],[5,24])

array([26, 29])

In [23]:
np.bitwise_or([17,14],[3,6])

array([19, 14])

In [29]:
age_in_years = np.array([20,21,22,23,24,25,26,4])

In [30]:
print("Mean age of the group:",np.mean(age_in_years))

Mean age of the group: 20.625

In [31]:
20+21+22+23+24+25+26+4

165

In [32]:
165/7

23.571428571428573

In [33]:
print("Median age of the group:",np.median(age_in_years))

Median age of the group: 22.5

In [4]:
population_data = np.genfromtxt('population_2017.csv',usecols=1,delimiter=',',skip_header=1)

In [5]:
population_data

array([   792.,   1300.,   1618.,   2910.,   4049.,   5177.,   6320.,
        11192.,  11359.,  11773.,  14909.,  17380.,  21729.,  25398.,
        31196.,  33400.,  34571.,  35446.,  37922.,  38695.,  40120.,
        49290.,  53127.,  55144.,  55345.,  55641.,  56480.,  61349.,
        61559.,  73925.,  76965.,  84287.,  94737., 102012., 104901.,
       105264., 105544., 107825., 108020., 109897., 116398., 160539.,
       164229., 165314., 178844., 196440., 204327., 253045., 276244.])

In [6]:
population_data.shape

(49,)

In [10]:
mean = np.mean(population_data)
median = np.median(population_data)
sd = np.std(population_data)
variance = np.var(population_data)

In [14]:
print("Mean: %i"%mean)
print("Median:%i"%median)
print("Standard Deviation:%i"%sd)
print("Variance:%i"%variance)

Mean: 73958
Median:55345
Standard Deviation:67180
Variance:4513235014