In [1]:
import numpy as np

In [2]:
name = ["Abhik","Aroj","Pradip","Nima","Bishal"]
student_Id = [201500196,201500207,201500240,201500123,201500210]
scores = [80.2,99.4,80.4,80.3,84.3]

In [3]:
student_data = np.zeros(5,dtype = {'names':('name','StudentId','Scores'),'formats':('U10',int,float)})

In [4]:
student_data

array([('', 0, 0.), ('', 0, 0.), ('', 0, 0.), ('', 0, 0.), ('', 0, 0.)],
      dtype=[('name', '<U10'), ('StudentId', '<i8'), ('Scores', '<f8')])

In [7]:
print(student_data.dtype)

[('name', '<U10'), ('StudentId', '<i8'), ('Scores', '<f8')]

In [8]:
student_data['name'] = name
student_data['StudentId'] = student_Id
student_data['Scores'] = scores

In [9]:
print(student_data)

[('Abhik', 201500196, 80.2) ('Aroj', 201500207, 99.4)
 ('Pradip', 201500240, 80.4) ('Nima', 201500123, 80.3)
 ('Bishal', 201500210, 84.3)]

In [10]:
student_data['name']

array(['Abhik', 'Aroj', 'Pradip', 'Nima', 'Bishal'], dtype='<U10')

In [11]:
student_data['StudentId']

array([201500196, 201500207, 201500240, 201500123, 201500210])

In [13]:
student_data['Scores']

array([80.2, 99.4, 80.4, 80.3, 84.3])

In [14]:
student_data[1]

('Aroj', 201500207, 99.4)

In [15]:
student_data[-1]['name']

'Bishal'

In [17]:
student_data[student_data['Scores']>81]['name']

array(['Aroj', 'Bishal'], dtype='<U10')